In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Realestate.csv")
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [3]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [4]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=0)

In [5]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(x_train,y_train)
print("regression score : ",reg.score(x_test,y_test))
y_pred = reg.predict(x_test)
print(y_pred)

regression score :  0.599384834090956
[39.1318255  12.6288103  41.99227828 12.03616255 41.60816732 39.90288628
 40.86563573 33.57995522 50.21832696 45.76503158 45.98778859 41.06703323
 38.4101975  40.24534163 47.04208034 38.06440143 40.19764964 40.57507444
 41.37638285 42.69747021 50.02353321 31.24076206 39.27601799 45.89515177
 46.51382018 43.61693629 46.9064824  25.63088385 47.86795187 21.24810607
 44.63539034 34.32582682 42.42905917 38.32303917 44.32382998 31.70901693
 47.9631468  39.82129479 53.64964248  7.33139111 52.99739624 32.80517852]